node_modules
.idea/cohort-3.0.iml
.idea/modules.xml
.idea/workspace.xml
.gitignore
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/codeStyleConfig.xml
.gitignore
.idea/vcs.xml
